$color: #333;
$dim-color: lighten($color, 50%);
$line-color: lighten($color, 70%);

$margin: 3em;
$width: 640px;

$form-width: 480px;

@mixin narrow {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin normal {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wide {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin ac-link { // achromatic color link
  a {
    color: $color;
  }
}


// basic layout

html {
  font-size: 14px;
  @include narrow {
    font-size: 16px;
  }
  @include normal {
    font-size: 18px;
  }
  @include wide {
    font-size: 20px;
  }
}

body {
  font-size: 1em;
  font-family: serif;
  line-height: 160%;
  color: $color;
}

@mixin section {
  margin: $margin * 1.5 auto; // auto 는 IE9 이상부터
  @include narrow {
    margin: $margin * 1.7 auto;
  }
  @include normal {
    margin: $margin * 2 auto;
  }
  @include wide {
    margin: $margin * 2.3 auto;
  }
  text-align: center;
}

.section {
  @include section;
  max-width: $width; // 작은화면에서 width 를 쓰면 화면 밖으로 나간다.
}

.sub-section {
  margin: $margin auto;
}

.mini-section {
  margin: $margin * 0.8 auto;
}

pre.clean {
  margin: $margin auto;
  padding: 0px;
  border: 0px;
  background-color: inherit;
  font-size: inherit;
}

hr {
  margin: 0px;
}

// fullscreen

:-webkit-full-screen, :-moz-full-screen, :-ms-fullscreen, :fullscreen {
  background: white;
  width: 100%;
  height: 100%;
}

#fullscreen {
}

// error

.error-report {
  text-align: left;
  font-family: monospace;
  font-size: 80%;
  background-color: white;
  white-space: pre;
}

.modal-body {
  white-space: pre;
  overflow: scroll;
}

// form

form.main {
  max-width: $form-width;
  margin: 0 auto;
  padding: 0em 1em;
  input[type=file] {
    width: 100%;
  }
  textarea {
  }
}

form.text {
  max-width: $width;
  input {
  }
  textarea {
    //font-size: 1em;
    line-height: 180%;
  }
}

pre.sample {
  max-width: $form-width;
  margin: 0 auto;
  text-align: left;
}

// table

.basic-table { // 현재 사용 안 됨.
  table {
    margin: 0 auto;
    td {
      padding: 0px 20px;
    }
  }
}

// home

.site-name {
  margin: 0.6em auto;
  font-size: 1.3em;
  a:hover {
    text-decoration: none;
  }
}

.page-header { // bootstrap 에 같은 이름 클래스가 정의되어 있다;
  @include ac-link;
  margin-top: 0px;
  padding: 0px; // overriding bootstrap
  border-bottom: 1px solid $line-color;
  //border-bottom: 0px;
}

.page-title {
  @include ac-link;
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 2.5em;
  }
}

.top-links {
  a {
    padding-left:8px;
    padding-right:8px;
  }
}

.news {
}

.page-footer {
  @include ac-link;
  padding: 0px; // overriding bootstrap
  border-top: 1px solid $line-color;
  //border-top: 0px;
  .about-list {
    margin: 0.3em auto;
    ul {
      margin: 0px;
      li {
        padding: 0 5px;
      }
    }
  }
  .sponsor {
    margin: 0.6em auto;
    font-size: 1.1em;
  }
}

// writing list

.writing-thumb-list {
  max-width: 100%; // section 의 max-width 오버라이딩.
  .writing-thumb {
    @include ac-link;
    max-width: 100%; // for ie
    margin-bottom: 2em;
    .title {
      //margin-bottom: 0.6em;
    }
    .uname {
    }
  }
}

// writing view

.writing-view {
  @include ac-link;
  padding: 0em 2rem;
  .text {
    margin-bottom: 1.8em;
    white-space: pre-line;
    line-height: 180%;
  }
  .cdate {
    margin-bottom: 1em;
    font-size: 0.8em;
  }
  .uname {
    margin-bottom: 2em;
    font-size: 1.4em;
  }
  .commands {
  }
  .left {
    text-align: left;
  }
  .center {
    text-align: center;
  }
}

// profile

#profile-text {
  white-space: pre-line;
}
