extends ../layout/layout

block head-title
  title New - #{appName}

block content

  .section.page-title
    h1 New

  if !ticketCount
    .section
      | !{ticketMax} writings a day.
      br
      | You can write #{hours} hours later.

  else
    script.
      $(function() {
        cwriting.initNew();
      });

    .section
      form.main.text
        .sub-section
          .form-group
            //-label.control-label Title
            input.form-control(name='title', type='text', maxlength=128, placeholder='Title')  
          .form-group
            //-label.control-label Content
            textarea.form-control(name='text', rows=21, placeholder='Content')
        .sub-section
          button.btn.btn-primary(name='send', data-loading-text='Sending') Send
