extends ../layout/layout

block head-title
  title Update - #{appName}

block content

  script.
    $(function() {
      cwriting.initUpdate(!{JSON.stringify(writing)});
    });

  .section.page-title
    h1 Update

  .section
    form.main.text
      .sub-section
        .form-group
          input.form-control(name='title', type='text', maxlength=128, placeholder='Title', value=writing.title)  
        .form-group
          textarea.form-control(name='text', rows=21, placeholder='Content') #{writing.text}
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='Sending') Update
