extends ../layout/layout

block head-title
  title Upload - #{appName}

block content

  .section.page-title
    h1 Upload

  if !ticketCount
    .section
      | !{ticketMax} writings a day.
      br
      | You can upload #{hours} hours later.

  else
    script.
      $(function() {
        cwriting.initNew();
      });

    .section
      form.main
        .sub-section
          .form-group
            textarea.form-control(name='text', rows=21)
        .sub-section
          button.btn.btn-primary(name='send', data-loading-text='Sending') Send
